<form class="card-body p-4 p-lg-5 shadow-sm rounded-3 bg-light" method="post" action="<%= action %>">
    <div class="form-floating mb-4">
        <input
                type="text"
                class="form-control form-control-lg"
                id="name"
                name="name"
                placeholder="Nom de la categorie"
        <% if(category) { %> value="<%= category.name %>" <% } %>
                required
        >
        <label for="name" class="text-muted">Nom de la catégorie</label>
    </div>
    <div class="form-floating mb-4">
        <input
                type="text"
                class="form-control form-control-lg"
                id="description"
                name="description"
                placeholder="Description de la categorie"
        <% if(category) { %> value="<%= category.description %>" <% } %>
                required
        >
        <label for="description" class="text-muted">Description de la catégorie</label>
    </div>
    <div class="d-grid gap-3 d-md-flex justify-content-md-center mt-5">
        <button type="submit" class="btn btn-success btn-lg px-5 py-2 fw-bold">
            <%= submitLabel %>
        </button>
        <a href="/categories" class="btn btn-outline-secondary btn-lg px-5 py-2 fw-bold">
            RETOUR
        </a>
    </div>
</form>